[submodule "2023_2/ACH2006 Engenharia de Sistemas de Informação I/Projeto/projeto"]
	path = 2023_2/ACH2006 Engenharia de Sistemas de Informação I/Projeto/projeto
	url = https://github.com/ysngwn/ESI-2023.git
